<h1>Eat-Da-Burger</h1>


<div> Burgers to be devoured
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <span><strong>{{this.id}} - {{this.burger_name}}</strong></span>
        <button type="button" class="eatburger" id="eatbutton" data-id="{{this.id}}" 
        data-newDevoured={{devour}}><span class="fa fa"></span></button>
        <hr>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div> Devoured burgers
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        {{burger_name}}
      {{/if}}
    {{/each}}
  </ul>
</div>

